<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <title>Dashboard</title>
    <style>
      .navbar_dashboard{
        list-style: none;
        display: flex;
        margin-top: 0px;
      }
      .navbar_dashboard li
      {
        display: table;
        height: 45px;
      }
      .navbar_outer{
        background: linear-gradient(to right, #ff8008, #ffc837);
        top: 0;
        position: fixed;
        width: 100%;
        height: 5.5%;

      }
      .navbar_sidebar
      {
        background: linear-gradient(to top, #536976, #292e49);
        height: 120vh;
        width: 12vw;
        display: inline-block;
      }
      .navbar_sidebar ul li:hover {
        background: linear-gradient(to right, #f2994a, #f2c94c);
      }
      .navbar_sidebar ul li a:hover {
        text-decoration: none;
      }
      .navbar_menu{
        color: white;
        position: fixed;
        text-decoration: none;
        width: 12%;
        text-align: center;
      }
      .all_student{
        background: #d4d4d4;
        width: 25%;
        display: inline-block;
        top: 8vh;
        position: absolute;
        left: 70vh;
      }
      .all_students{
        background: #d4d4d4;
        width: 21%;
        display: inline-block;
        top: 8vh;
        position: absolute;
        left: 23vh;
      }
    </style>
  </head>
  <body style="margin-left:0px">

<div class="navbar_outer" style="position:fixed">
      <ul class="navbar_dashboard">
        <li>
          <img style="height:40px;display:table-cell;margin-left:-12px;vertical-align:middle" src="/assets/pegasus-ogo.png">
        </li>
        <li style="margin-left:25px;">
          <h3 style="display:table-cell;vertical-align:middle;">Pegasus</h3>
        </li>
        <li style="margin-left:25px;">
          <%=link_to "Home",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%Cart.where(student_id: current_user.id).each do |s|%>
        <%if s.course_id==@selected_subject.id%>
        <li style="background-color: white;border-radius: 50%;margin-left: 25px;width: 5%;text-align: center;">
          <%=link_to Course.find_by(id: s.course_id).subject_name,dashboard_subject_path(s.course_id),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%else%>
        <li style="margin-left:25px;">
          <%=link_to Course.find_by(id: s.course_id).subject_name,dashboard_subject_path(s.course_id),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%end%>
        

        <li style="right:27px;position:fixed;">
          <%=link_to "Logout",destroy_user_session_path,:method => :delete,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%if current_user.standard == 8%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS VIII",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 9%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS IX",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 10%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS X",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 11%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS XI",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 12%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS XII",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>

      </ul>
    </div>

    <!-- Add sorry you need to renew your course ! by checking subscription corresponding to the cart id  -->

    <% if Cart.find_by(student_id: current_user.id)==nil%>
        <h2 style="display: inline-block;position: absolute;top: 50vh;left: 30vw;">Sorry , Currently you are not enrolled in any of our courses</h2>
    <%else%>

    <%if Cart.find_by(student_id: current_user.id, course_id: @selected_subject.id)==nil || Cart.find_by(student_id: current_user.id, course_id: @selected_subject.id).subscription == false %>
      <h2 style="display: inline-block;position: absolute;top: 50vh;left: 30vw;">sorry you need to renew/Join this course ! </h2>
    <%else%>
      <div class="all_students">
        <ul style="list-style:none;padding:0px;margin-top:15px;">
          <h5 style="text-align:center;">Leaderboard of Class <%=@selected_subject.standard%></h5>
          <li style="padding-left:23px;">Name<span style="position:absolute;left:30vh">Score</span></li>
          <br>
          <%@names.each do |u| %>
            <li style="padding-left:23px;"><%=User.find_by(id: u).first_name%><span style="position:absolute;left:30vh"><%=@filter.where(student_id: u).first.total%></span></li>
          <%end%>
        </ul>
      </div>
          <div class="navbar_sidebar" style="display:inline-block;position:fixed;margin-top:37px;">
        <ul style="list-style:none;padding:0px;">
          <li style=" top:5.5vh;position: fixed;height: 66px;width: 12%;">
            <%=link_to "Leaderboard",leaderboard_student_path(:course_id => @selected_subject.id),style: "top: 8vh;",class: "navbar_menu"%>
          </li>
          <li style=" top:13.5vh;position: fixed;height: 66px;width: 12%;">
            <!-- <a class="navbar_menu"href="#" style="top: 16.5vh;">Class Schedule</a> -->
            <%=link_to "Class Schedule",timetable_timetable_new_path(standard: current_user.standard,selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 16.5vh;"%>
          </li>
          <li style=" top:21.5vh;position: fixed;height: 66px;width: 12%;">
            <!-- <a class="navbar_menu"href="#" style="top: 25vh;">Study Material</a> -->
            <%=link_to "Study Material",notes_study_material_new_path(standard: current_user.standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 25vh;"%>

          </li>
          <li style=" top:29.5vh;position: fixed;height: 66px;width: 12%;">
            <!-- <a class="navbar_menu"href="#" style="top: 33vh;">NCERT solutions</a> -->
            <%=link_to "NCERT Solutions",ncertsol_ncertsol_new_path(standard: current_user.standard ,selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 33vh;"%>
          </li>
          <li style=" top:37.5vh;position: fixed;height: 66px;width: 12%;">
            <!-- <a class="navbar_menu"href="#" style="top: 49vh;">Tests</a> -->
            <%=link_to "Tests",test_test_new_path(standard: current_user.standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 40.5vh;"%>
          </li>
          <li style=" top:45.5vh;position: fixed;height: 66px;width: 12%;">
            <!-- <a class="navbar_menu"href="#" style="top: 56.5vh;">Assignments</a> -->
            <%=link_to "Assignments",assigment_assignment_new_path(standard: current_user.standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 49vh;"%>
          </li>
          <li style=" top:53.5vh;position: fixed;height: 66px;width: 12%;">
            <!-- <a class="navbar_menu"href="#" style="top: 65vh;">Videos</a> -->
            <%=link_to "Videos",video_video_new_path(standard: current_user.standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 56.5vh;"%>

          </li>
          <li style=" top:61.5vh;position: fixed;height: 66px;width: 12%;">
            <%=link_to "Doubts",doubt_new_path(standard: @standard, selected_subject: @selected_subject),class: "navbar_menu",style: "top: 65vh;"%>
          </li>
        </ul>
      </div>
    <%end%>
<%end%>

  </body>
</html>
