<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <title>Dashboard</title>
    <style>
      .navbar_dashboard{
        list-style: none;
        display: flex;
        margin-top: 0px;
      }
      .navbar_dashboard li
      {
        display: table;
        height: 45px;
      }
      .navbar_outer{
        background: linear-gradient(to right, #ff8008, #ffc837);
        top: 0;
        position: fixed;
        width: 100%;
        height: 5.5%;

      }
      .navbar_sidebar
      {
        background: linear-gradient(to top, #536976, #292e49);
        height: 120vh;
        width: 12vw;
        display: inline-block;
      }
      .navbar_sidebar ul li:hover {
        background: linear-gradient(to right, #f2994a, #f2c94c);
      }
      .navbar_sidebar ul li a:hover {
        text-decoration: none;
      }
      .navbar_menu{
        color: white;
        position: fixed;
        text-decoration: none;
        width: 12%;
        text-align: center;
      }
    </style>
  </head>
  <body style="margin-left:0px">

<div class="navbar_outer" style="position:fixed">
      <ul class="navbar_dashboard">
        <li>
          <img style="height:40px;display:table-cell;margin-left:-12px;vertical-align:middle" src="/assets/pegasus-ogo.png">
        </li>
        <li style="margin-left:25px;">
          <h3 style="display:table-cell;vertical-align:middle;">Pegasus</h3>
        </li>
        <li style="margin-left:25px;">
          <%=link_to "Home",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%Cart.where(student_id: current_user.id).each do |s|%>
        <li style="margin-left:25px;">
          <%=link_to Course.find_by(id: s.course_id).subject_name,dashboard_subject_path(s.course_id),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <!-- <li style="right:105px;position:fixed;">
          <img style="height:40px;display:table-cell;margin-left:-12px;vertical-align:middle;border-radius:50%;" src="/assets/myprofile.jpg">
        </li> -->

        <li style="right:27px;position:fixed;">
          <%=link_to "Logout",destroy_user_session_path,:method => :delete,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%if current_user.standard == 8%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS VIII",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 9%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS IX",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 10%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS X",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 11%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS XI",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 12%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS XII",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>

      </ul>
    </div>

    <!-- Add sorry you need to renew your course ! by checking subscription corresponding to the cart id  -->

    <% if Cart.find_by(student_id: current_user.id)==nil%>
        <h2 style="display: inline-block;position: absolute;top: 50vh;left: 30vw;">Sorry , Currently you are not enrolled in any of our courses</h2>
    <%end%>

  </body>
</html>
