<style>
.select
{
  background: black
}
</style>

<div style="height:63vh;">
  <ul style="list-style:none; display:flex;margin-top:20px;" class="subject_class">
      <li style="display:inline-block; margin-right:10px; width:80px; text-align:center;background: linear-gradient(to right, #ff8008, #ffc837);"><%=Course.find_by(id: @subject_renew.course_id).subject_name%></li>
  </ul>
<br>
<br>
<div style="margin-left:40px;">
<%=form_for @subject_renew, :url => {:controller => "cart" , :action => "update"} do |s| %>
End date: <%=s.date_field :end_date%>
&nbsp &nbsp &nbsp &nbsp Fees: <%=s.number_field :fees%>
<br>
<br>
<br>
Employee Name: <%=s.text_field :emp_name%>
<br>
<br>
<br>
<%=s.submit%>
<%end%>
</div>
</div>
