<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <title>Dashboard</title>
    <style>
      .navbar_dashboard{
        list-style: none;
        display: flex;
        margin-top: 0px;
      }
      .navbar_dashboard li
      {
        display: table;
        height: 44px;
      }

      .navbar_outer{
        background: linear-gradient(to right, #ff8008, #ffc837);
        top: 0;
        position: fixed;
        width: 100%;
        height: 5.5%;

      }
      .navbar_sidebar
      {
        background: linear-gradient(to top, #536976, #292e49);
        height: 120vh;
        width: 12vw;
      }
      .navbar_sidebar ul li:hover {
        background: linear-gradient(to right, #f2994a, #f2c94c);
      }
      .navbar_sidebar ul li a:hover {
        text-decoration: none;
      }
      .navbar_menu{
        color: white;
        position: fixed;
        text-decoration: none;
        width: 12%;
        text-align: center;
      }
      .hover_li:hover{
        background: white;
        border-radius:40%;
      }
      .constant{
        background: white;
        border-radius:40%;
      }
      .all_students{
        display: inline-block;
        top: 8vh;
        position: absolute;
        left: 23vh;
      }
      .all_student{
        background: #d4d4d4;
        width: 25%;
        display: inline-block;
        top: 8vh;
        position: absolute;
        left: 70vh;
      }
      .all_students li:hover{
        background: white;
      }
    </style>
  </head>
  <body style="margin-left:0px">

  <%if current_user.admin==true%>
<div class="navbar_outer" style="position:fixed">
      <ul class="navbar_dashboard">
        <li>
          <img style="height:40px;display:table-cell;margin-left:-12px;vertical-align:middle" src="/assets/pegasus-ogo.png">
        </li>
        <li style="margin-left:25px;">
          <h3 style="display:table-cell;vertical-align:middle;">Pegasus</h3>
        </li>
        <li style="margin-left:25px;">
          <%=link_to "Admin",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <li style="margin-left:25px;">
          <%=link_to "Home",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%if @standard==8%>
          <li style="margin-left:145px;" class="hover_li constant">
        <%else%>
          <li style="margin-left:145px;" class="hover_li ">
        <%end%>
          <%=link_to "CLASS VIII",admin_common_path(standard: '8'),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%if @standard==9%>
          <li style="margin-left:25px;" class="hover_li constant">
        <%else%>
          <li style="margin-left:25px;" class="hover_li">
        <%end%>
          <%=link_to "CLASS IX",admin_common_path(standard: '9'),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>

        <%if @standard==10%>
          <li style="margin-left:25px;" class="hover_li constant">
        <%else%>
          <li style="margin-left:25px;" class="hover_li">
        <%end%>
          <%=link_to "CLASS X",admin_common_path(standard: '10'),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>

        <%if @standard==11%>
          <li style="margin-left:25px;" class="hover_li constant">
        <%else%>
          <li style="margin-left:25px;" class="hover_li">
        <%end%>
          <%=link_to "CLASS XI",admin_common_path(standard: '11'),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>

        <%if @standard==12%>
          <li style="margin-left:25px;" class="hover_li constant">
        <%else%>
          <li style="margin-left:25px;" class="hover_li">
        <%end%>
          <%=link_to "CLASS XII",admin_common_path(standard: '12'),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>

        <li style="right:105px;position:fixed;">
          <img style="height:40px;display:table-cell;margin-left:-12px;vertical-align:middle;border-radius:50%;" src="/assets/myprofile.jpg">
        </li>

        <li style="right:27px;position:fixed;">
          <%=link_to "Logout",destroy_user_session_path,:method => :delete,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
      </ul>
    </div>
    <%else%>
<div class="navbar_outer" style="position:fixed">
      <ul class="navbar_dashboard">
        <li>
          <img style="height:40px;display:table-cell;margin-left:-12px;vertical-align:middle" src="/assets/pegasus-ogo.png">
        </li>
        <li style="margin-left:25px;">
          <h3 style="display:table-cell;vertical-align:middle;">Pegasus</h3>
        </li>
        <li style="margin-left:25px;">
          <%=link_to "Home",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%Cart.where(student_id: current_user.id).each do |s|%>
        <%if s.course_id==@selected_subject.id%>
        <li style="background-color: white;border-radius: 50%;margin-left: 25px;width: 5%;text-align: center;">
          <%=link_to Course.find_by(id: s.course_id).subject_name,dashboard_subject_path(s.course_id),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%else%>
        <li style="margin-left:25px;">
          <%=link_to Course.find_by(id: s.course_id).subject_name,dashboard_subject_path(s.course_id),style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%end%>
        <li style="right:105px;position:fixed;">
          <img style="height:40px;display:table-cell;margin-left:-12px;vertical-align:middle;border-radius:50%;" src="/assets/myprofile.jpg">
        </li>

        <li style="right:27px;position:fixed;">
          <%=link_to "Logout",destroy_user_session_path,:method => :delete,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%if current_user.standard == 8%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS VIII",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 9%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS IX",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 10%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS X",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 11%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS XI",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>
        <%if current_user.standard == 12%>
        <li style="margin-left:30%;" class="hover_li">
          <%=link_to "CLASS XII",root_path,style:"color:black;text-decoration:none;margin-top:0px;vertical-align:middle; display:table-cell"%>
        </li>
        <%end%>

      </ul>
    </div>
  <%end%>

  <%if current_user.admin !=true%>
        <div class="navbar_sidebar" style="display:inline-block;position:fixed;margin-top:37px;">
      <ul style="list-style:none;padding:0px;">
        <li style=" top:5.5vh;position: fixed;height: 66px;width: 12%;">
          <%=link_to "Leaderboard",leaderboard_student_path(:course_id => @selected_subject.id),style: "top: 8vh;",class: "navbar_menu"%>
        </li>
        <li style=" top:13.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 16.5vh;">Class Schedule</a> -->
          <%=link_to "Class Schedule",timetable_timetable_new_path(standard: @standard ,selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 16.5vh;"%>

        </li>
        <li style=" top:21.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 25vh;">Study Material</a> -->
          <%=link_to "Study Material",notes_study_material_new_path(standard: @standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 25vh;"%>

        </li>
        <li style=" top:29.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 33vh;">NCERT solutions</a> -->
          <%=link_to "NCERT Solutions",ncertsol_ncertsol_new_path(standard: @standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 33vh;"%>
        </li>
        <li style=" top:37.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 49vh;">Tests</a> -->
          <!-- admin_choose_subjects_path(@standard, path:3 -->
          <%=link_to "Tests",test_test_new_path(standard: @standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 40.5vh;"%>
        </li>
        <li style=" top:45.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 56.5vh;">Assignments</a> -->
          <%=link_to "Assignments",assigment_assignment_new_path(standard: @standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 49vh;"%>
        </li>
        <li style=" top:53.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 65vh;">Videos</a> -->
          <%=link_to "Videos",video_video_new_path(standard: @standard, selected_subject: @selected_subject.id),class: "navbar_menu",style: "top: 56.5vh;"%>

        </li>
        <li style=" top:61.5vh;position: fixed;height: 66px;width: 12%;">
          <%=link_to "Doubts",doubt_new_path(standard: @standard, selected_subject: @selected_subject),class: "navbar_menu",style: "top: 65vh;"%>
        </li>
      </ul>
    </div>
    <%else%>
        <div class="navbar_sidebar" style="display:inline-block;position:fixed;margin-top:37px;">
      <ul style="list-style:none;padding:0px;">
        <li style=" top:5.5vh;position: fixed;height: 66px;width: 12%;">
          <%=link_to "Leaderboard",admin_leaderboard_path(:standard=>@standard),style: "top: 8vh;",class: "navbar_menu"%>
        </li>
        <li style=" top:13.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 16.5vh;">Class Schedule</a> -->
          <%=link_to "Class Schedule",timetable_timetable_new_path(standard: @standard),class: "navbar_menu",style: "top: 16.5vh;"%>
        </li>
        <li style=" top:21.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="/notes/study_material_new" style="top: 25vh;">Study Material</a> -->
          <%=link_to "Study Material",admin_choose_subjects_path(standard: @standard,path:1),class: "navbar_menu",style: "top: 25vh;"%>
        </li>
        <li style=" top:29.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 33vh;">NCERT solutions</a> -->
          <%=link_to "NCERT Solutions",admin_choose_subjects_path(standard: @standard, path:5),class: "navbar_menu",style: "top: 33vh;"%>
        </li>
        <li style=" top:37.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 49vh;">Tests</a> -->
          <%=link_to "Tests",admin_choose_subjects_path(standard: @standard, path:2),class: "navbar_menu",style: "top: 40.5vh;"%>
        </li>
        <li style=" top:45.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 56.5vh;">Assignments</a> -->
          <%=link_to "Assignments",admin_choose_subjects_path(standard: @standard, path:3),class: "navbar_menu",style: "top: 49vh;"%>
        </li>
        <li style=" top:53.5vh;position: fixed;height: 66px;width: 12%;">
          <!-- <a class="navbar_menu"href="#" style="top: 65vh;">Videos</a> -->
          <%=link_to "Videos",admin_choose_subjects_path(standard: @standard, path:4),class: "navbar_menu",style: "top: 56.5vh;"%>
        </li>
        <li style=" top:61.5vh;position: fixed;height: 66px;width: 12%;">
          <%=link_to "Doubts",admin_choose_subjects_path(standard: @standard, path:6),class: "navbar_menu",style: "top: 65vh;"%>        </li>
        <li style=" top:69.5vh;position: fixed;height: 66px;width: 12%;">
          <a class="navbar_menu"href="/courses/subject" style="top: 72.5vh;">Add Subject</a>
        </li>
      </ul>
    </div>
  <%end%>

    <div class="all_students" style=" position: absolute;z-index: -1;">
      <ul style="list-style:none;padding:0px;margin-top:15px;">
        <%if current_user.admin==true%>
        <%=form_for @video, :url => {:controller => "video" , :action => "video_create"} do |s| %>
        <%= s.hidden_field :standard,:value => @standard %>
        <%= s.hidden_field :course_id,:value => @selected_subject.id %>
        Title : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<%=s.text_field :title%>
        <br>
        <br>
        Description : <%=s.text_field :description%>
        <br>
        <br>
        File : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%=s.file_field :file%>
        <br>
        <br>
        &nbsp &nbsp &nbsp <%=s.submit%>
        <%end%>
        <br>
        <br>
        <%end%>
        <h3 style="margin-left:30px;">Video Uploaded</h3>
        <%Video.where(standard: @standard, course_id: @selected_subject.id).each do |n|%>
        <ul style="list-style:none;">
        Title :<li style="display:inline-block"><%=n.title%></li>
        <li style="display:inline-block;position:absolute;left:290px;"><%=link_to "Download",n.file%></li>
        <%if current_user.admin ==true%>
        <li style="display:inline-block;position:absolute;left:380px;"><%=link_to "Delete",delete_video_path(n.id),method: :delete%></li>
        <%end%>
        <br><br>
        Description :<li style="display:inline-block;"><%=n.description%></li>
        </ul>
        <br>
        <br>
        <%end%>
      </ul>
    </div>

  </body>
</html>
