<!DOCTYPE html>
<html>
  <head>
    <title>Myproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<style>
@media only screen and (max-width: 400px) {
  .footer-bottom
  {
    font-size: 10px;
  }
  .footer-bottom h5
  {
    font-size: 10px;
  }
  .logo-pegasus{
    display: none;
  }
  .footer_bottom_left p
  {
    width: 110px;
    margin-left: -45px;
  }
  .footer_bottom_left h5
  {
    margin-left: -45px;
  }
  .footer_bottom_margin
  {
    margin-left:10px;
    width: 110px;
    margin-right: 10px;
  }
  .logo-pegasus_show
  {
    color: #f6deb3;
    margin-left: 10%;
  }
  .foot{
    font-size: 10px;
    position: relative;
    bottom: 0px;
    width: 100%;
  }
  .least{
    right: 35px;
    position: absolute;
  }
  .hide_refer
  {
    display: none;
  }


}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .foot{
    font-size: 10px;
    position: relative;
    bottom: 0px;
    width: 100%;
  }
  .logo-pegasus{
    display: none;
  }

  .footer-bottom h5
  {
    font-size: 9px;
  }

  .footer-bottom
  {
    font-size: 7px;
  }
  .footer_bottom_left p
  {
    width: 110px;
    margin-left: -45px;
  }
  .footer_bottom_left h5
  {
    margin-left: -45px;
  }
  .footer_bottom_margin
  {
    margin-left:10px;
    width: 110px;
    margin-right: 10px;
  }
  .logo-pegasus_show
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    color: #f6deb3;
    font-size: 8px;
  }
  .least{
    right: 25px;
    position: absolute;
  }
  .hide_refer
  {
    display: none;
  }
}

@media only screen and (min-width: 961px) {
.footer-bottom{
  display: inline-block;
}
.logo-pegasus_show{
  display: none;
}
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixednavbar">
      <img style="height: 30px;margin-right: 6px;"src="/assets/pegasus-ogo.png">
      <a class="navbar-brand" href="#">Pegasus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/#team-pegasu">Tutor</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:95px;">Courses</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/courses/class6">class 6</a>
              <a class="dropdown-item" href="/courses/class7">class 7</a>
              <a class="dropdown-item" href="/courses/class8">class 8</a>
              <a class="dropdown-item" href="/courses/class9">class 9</a>
              <a class="dropdown-item" href="/courses/class10">class 10</a>
              <a class="dropdown-item" href="/courses/class11">class 11</a>
              <a class="dropdown-item" href="/courses/class12">class 12</a>
              <a class="dropdown-item" href="/courses/integrated">Engineering and Medical</a>
            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/#contact_us">Contact</a>
          </li>
          <% if user_signed_in?%>
          <%if !current_user.admin %>
            <li class="nav-item active">
              <%=link_to "Dashboard",dashboard_show_path,class: "nav-link"%>
            </li>
          <%else%>
            <li class="nav-item active">
              <%=link_to "Dashboard",admin_dashboard_path,class: "nav-link"%>
            </li>
          <%end%>
          <li class="nav-item active" style="position: absolute;right: 10%; background:linear-gradient(to top, #ddd6f3, #faaca8);border-radius:50%;">
            <a style=" width: 113px" class="nav-link" href="#">Refer & Earn</a>
          </li>
            <li class="nav-item active" style="position: absolute;margin-top: 1px;right: 3%;">
            <%=link_to "Logout",destroy_user_session_path,method:"delete",class: "nav-link disabled"%>
            </li>
          <% else %>
          <li class="nav-item active hide_refer" style="position:absolute;right: 16%;background:linear-gradient(to top, #ddd6f3, #faaca8);border-radius:50%;">
            <a style=" width: 113px" class="nav-link" href="#">Refer & Earn</a>
          </li>
            <li class="nav-item active" style="position:absolute;right: 9%" >
              <%=link_to "Login",user_session_path,class:"nav-link disabled least"%>
            </li>
            <li class="nav-item active" style="position:absolute;right: 3%">
              <%=link_to "Join",new_user_registration_path,class: "nav-link disabled"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <div style="border: solid .1px;padding: 33px;background-color: #313131;" class="foot" id="contact_us">
      <ul style="display:flex;list-style: none;justify-content: space-evenly; color:wheat;">
        <li class="logo-pegasus">
          <img style="height:180px;margin-left:-80px;" src="/assets/pegasus-ogo.png">
        </li>
        <li class="footer-bottom">
          <div class="footer_bottom_left">
            <h5>Munirka Office</h5>
            <p> D-2/211, 1st Floor,<br>
                Bank of Baroda Building,<br>
                Munirka, New Delhi-110067<br>
                Mob: 9999394779<br>
                Mob: 9818699751<br>
              <span class="logo-pegasus">email: info@pegasuscoaching.co.in</span>
            </p>
          </div>
        </li>
        <li class="footer-bottom">
          <div class="footer_bottom_margin">
            <h5>Gurgaon Office</h5>
            <p>
              Opp. U-25, 1st Floor,<br>
              Pink Town House Market,<br>
              DLF Phase - III, Gurgaon<br>
              Mob: 9818699751<br>
              Mob: 9999394779<br>
            <span class="logo-pegasus">email: info@pegasuscoaching.co.in</span>
            </p>
          </div>
        </li>
        <li class="footer-bottom">
          <div>
            <h5>Chirag Delhi Office</h5>
            <p>
              364-A Basement,<br>
              Opposite Sanatan Dharam Mandir,<br>
              Chirag Delhi, New Delhi- 110017.<br>
              Mob: 9999394779<br>
              Mob: 9811658464<br>
            <span class="logo-pegasus">email: info@pegasuscoaching.co.in</span>
            </p>
          </div>
        </li>
      </ul>
      <span class="logo-pegasus_show">email: info@pegasuscoaching.co.in</span>
    </div>


    <script>
    jQuery(function ($) {
      $(window).on('popstate', function() {
           location.reload(true);
        });
      });

    </script>
  </body>
</html>
